@import "flatpickr/dist/flatpickr.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {

        --light: theme('colors.gray.100');
        --muted: theme('colors.gray.400');
        --dark: theme('colors.gray.700');

    }
}

input:focus{
    outline: 0;
}